<%- contentFor('outsideContainerMain') %>
<div class="position-relative">
    <img class="w-100 object-fit-contain" src="/images/main_page_banner.jpg" alt="">
    <div class="position-absolute top-0 start-0 w-100 h-100 bg-white bg-opacity-50"></div>
    <div style="top: 30%;" class="position-absolute start-50 translate-middle text-center">
        <h1 class="text-white bg-dark p-2 fw-bold">Welcome to <span class="text-warning">B</span>oundless <span class="text-warning">N</span>arrative!</h1>
        <p class="text-white bg-opacity-50 bg-dark p-2 lead">This web application was created to fulfill <span class=" text-decoration-underline fw-bold text-warning">Web Technology</span> module’s requirements and does not represent an actual company or service</p>
        <% if (locals.user) {%>
            <a class="btn btn-success" href="/stories/create">Create a story</a>
            <a class="btn btn-primary" href="/stories">View all stories</a>
        <% } else { %>
            <a class="btn btn-success" href="/auth/login">Login</a>
            <% } %>
    </div>
</div>